<%- include('includes/head.ejs', {
    username: username,
    permisos: permisos}) %>
    <% console.log('Hola') %>
    <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>">
 
    <div id="modal" onclick="cerrarModal()" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.3);" class="flex items-center justify-center">
        <div onclick="event.stopPropagation()" class="relative transform overflow-hidden rounded-lg bg-indigo-600 text-left shadow-xl transition-all" style="width: 600px; height: 580px;">
            <h1 class="text-xl font-bold text-white capitalize dark:text-white" style="padding-left: 20px; padding-top: 20px;">Account settings</h1>
            <section class="max-w-4xl p-6 mx-auto bg-indigo-600 rounded-md shadow-md dark:bg-gray-800 ">
                <form>
                    <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
                        <div>
                            <label class="text-white dark:text-gray-200" for="nombre">Nombre:</label>
                            <input type="text" id="nombre" name="nombre" required class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
                        </div>
    
                        <div>
                            <label class="text-white dark:text-gray-200" for="fecha">Fecha del Primer Mensaje:</label>
                            <input type="date" id="fecha" required class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
                        </div>
    
                        <div>
                            <label class="text-white dark:text-gray-200" >Asignado a:</label>
                            <select id="asignado_a" name="asignado_a" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
                                <% 
                                var asignadosUnicos = [...new Set(leads.map(lead => lead.asignado_a))];
                                asignadosUnicos.sort(); // Ordena los asignados
                                asignadosUnicos.forEach(function(asignado) { %> // Itera sobre los asignados únicos
                                    <option value="<%= asignado %>"><%= asignado %></option> // Crea una opción con el asignado
                                <% }); %>
                            </select>
                        </div>

                        <div>
                            <label class="text-white dark:text-gray-200" >Embudo:</label>
                            <select id="embudo" name="embudo" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
                                <% 
                                var embudosUnicos = [...new Set(leads.map(lead => lead.Embudo))];
                                embudosUnicos.sort(); 
                                embudosUnicos.forEach(function(embudo) { %> 
                                    <option value="<%= embudo %>"><%= embudo %></option> 
                                <% }); %>
                            </select>
                        </div>
    
                        <div>
                            <label class="text-white dark:text-gray-200" >Etapa:</label>
                            <select id="etapa" name="etapa" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
                                <% 
                                var etapasUnicas = [...new Set(leads.map(lead => lead.Etapa))];
                                etapasUnicas.sort(); 
                                etapasUnicas.forEach(function(etapa) { %>
                                    <option value="<%= etapa %>"><%= etapa %></option>
                                <% }); %>
                            </select>
                        </div>
    
                        <div>
                            <label class="text-white dark:text-gray-200" >Status:</label>
                            <select id="status" name="status" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
                                <% 
                                var statusUnicos = [...new Set(leads.map(lead => lead.Status))];
                                statusUnicos.sort(); // Ordena los status
                                statusUnicos.forEach(function(status) { %>
                                    <option value="<%= status %>"><%= status %></option>
                                <% }); %>
                            </select>
                        </div>
    
                        <div>
                            <label class="text-white dark:text-gray-200" for="telefono">Teléfono:</label>
                            <input type="text" id="telefono" name="telefono" required class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
                        </div>
    
                        <div>
                            <label class="text-white dark:text-gray-200" >Creado Manual:</label>
                            <select id="creadomanual" name="creadomanual" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
                                <option value="NO">NO</option>
                                <option value="SI">SI</option>
                            </select>
                        </div>
                        <div>
                            <label class="text-white dark:text-gray-200" >Archivado:</label>
                            <select id="archivado" name="archivado" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
                                <option value="NO">NO</option>
                                <option value="SI">SI</option>
                            </select>
                            <button id="botonGuardar"onclick="guardarCambios()" class="px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-pink-500 rounded-md hover:bg-pink-700 focus:outline-none focus:bg-gray-600" style="position: relative; left: 338px; bottom: 36px;">Guardar cambios</button>
                        </div>

                        <div class="flex justify-end mt-6">
                            <button type="button" onclick="cerrarModal()" class="hover:text-black text-white" style="border: none; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 25px; margin: 0; cursor: pointer; position: absolute; top: 10px; right: 20px; transition: background-color 0.3s ease; border-radius: 50%;">X</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>

    <div class="p-4 sm:ml-20 sm:mr-10 font-sans">
        <h1 class="text-2xl font-bold mb-4">Leads</h1>
        <div class="flex flex-col justify-right p-4 border-2 border-gray-200 rounded-lg dark:border-gray-700 bg-slate-200">
            <div class="inline-flex justify-between items-center mb-4">
                <div class="flex space-x-2">
                    <button class="bg-white hover:bg-indigo-600 text-indigo-600 hover:text-white py-2 px-4 rounded-full transition duration-300">Crear Lead</button>
                    <button class="bg-white hover:bg-indigo-600 text-indigo-600 hover:text-white py-2 px-4 rounded-full transition duration-300">Descargar Leads</button>
                </div>


            </div>
            <div class="flex justify-center sm:mt-4 p-1 border-1 border-gray-200 rounded-lg dark:border-gray-200 bg-white">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">Lead</th>
                            <th scope="col" class="px-6 py-3">Fecha</th>
                            <th scope="col" class="px-6 py-3">Creador</th>
                            <th scope="col" class="px-6 py-3">Modificar</th>
                            <th scope="col" class="px-6 py-3">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody id="table_content">
                        
                        <tr >
                        <% for (let lead of leads) { %>
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-gray-800">
                                <%= lead.NombreLead %>
                            </th>
                            <td class="px-6 py-4">
                                <%= lead.FechaPrimerMensaje %>
                            </td>
                            <td class="px-6 py-4">
                                <%= lead.asignado_a %>
                            </td>
                            <td class="px-6 py-4 text-center">
                                <button onclick="event.preventDefault(); modificar(<%=lead.IDLead%>)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded">
                                    Modificar
                                </button>
                            </td>
                            <td class="px-6 py-4 text-center">
                                <button id="save-changes" onclick="eliminar(<%=lead.IDLead%>)" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-4 rounded">
                                    Eliminar
                                </button>
                            </td>
                        </tr>
                        <% } %>
                        
                    </tbody>

                </table>
            </div>
        </div>
    </div>
   <script src="/scripts/leads.js"></script>
   <script>
    const click = () => {
        console.log('click')
    }
    const eliminar = (IDLead) => {
    const csrf = document.getElementById('_csrf').value;
    fetch('Leads/eliminar', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'csrf-token': csrf,
        },
        body: JSON.stringify({IDLead: IDLead})
    }).then((result) => {
        return result.json()
    }).then((data) => {

        let html = "";
        for (let lead of data.leads) {
            html += 
            `<tr>`;
            
                html += 
                `<th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    ${lead.NombreLead }
                </th>
                <td class="px-6 py-4">
                    ${lead.FechaPrimerMensaje}
                </td>
                <td class="px-6 py-4">
                    ${lead.asignado_a}
                </td>
                <td class="px-6 py-4 text-center">
                    <button onclick="window.location.href='/lead/modificar/${lead.IDLead}'" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded">
                        Modificar
                    </button>
                </td>
                <td class="px-6 py-4 text-center">
                    <button onclick="eliminar(${lead.IDLead})" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-4 rounded">
                        Eliminar
                    </button>
                </td>
            </tr>`;
        }

        document.getElementById('table_content').innerHTML = html;

    }).catch((err) => {
        console.log(err)
    })
    }

    // Almacena el ID del lead para modificar y poder enviarlo al servidor
    var leadId;
    // Función para modificar un lead
    function modificar(id) {
        leadId = id;
    console.log('modificar', id);
    $.get(`/lead/modificar/${id}`, function(data) {
        
        // Aquí, `data` es el lead que se obutvo del servidor. (Un botón de modificar)
        $('#nombre').val(data.NombreLead);
        
        //Se agregan los valores a los select porque no se pueden agregar directamente en el html

        // Aquí, se obtiene la fecha del primer mensaje y se formatea para que sea compatible con el input de tipo date.
        var fechaSeleccionada = new Date(data.FechaPrimerMensaje);
        var fechaFormateada = fechaSeleccionada.toISOString().split('T')[0];
        $('#fecha').val(fechaFormateada);

        $('#telefono').val(data.Telefono);

        $('#embudo').val(data.Embudo); 

        $('#etapa').val(data.Etapa);
        $('#status').val(data.Status);

        var archivadoSeleccionado = data.Archivado == 1 ? 'SI' : 'NO';
        $('#archivado').val(archivadoSeleccionado);

        var creadomanualSeleccionado = data.CreadoManual == 1 ? 'SI' : 'NO';
        $('#creadomanual').val(creadomanualSeleccionado); 

        $('#asignado_a').val(data.asignado_a);

        $('#modal').show();
    });
    document.getElementById('botonGuardar').addEventListener('click', guardarCambios);
}
function cerrarModal() {
    $('#modal').hide();
}

function guardarCambios() {
    
    // Recoge los datos del formulario
    var nombre = document.getElementById('nombre').value;
    var fecha = document.getElementById('fecha').value;
    var asignado_a = document.getElementById('asignado_a').value;
    var telefono = document.getElementById('telefono').value;
    var embudo = document.getElementById('embudo').value;
    var etapa = document.getElementById('etapa').value;
    var status = document.getElementById('status').value;
    var archivado = document.getElementById('archivado').value === 'true' ? 1 : 0;
    var creadomanual = document.getElementById('creadomanual').value === 'true' ? 1 : 0;

    // Crea un objeto con los datos del formulario
    var datos = {
        id: leadId,
        nombre: nombre,
        fecha: fecha,
        asignado_a: asignado_a,
        telefono: telefono,
        embudo: embudo,
        etapa: etapa,
        status: status,
        creadomanual: creadomanual,
        archivado: archivado
    };

   // Envía los datos al servidor
    $.ajax({
        url: '/lead/modificar',
        type: 'POST',
        data: JSON.stringify(datos),
        contentType: 'application/json',
        success: function(respuesta) {
            // Aquí puedes manejar la respuesta del servidor
            console.log(respuesta);

            // Redirige al usuario a la página de leads
            window.location.href = '/lead/Leads';
        }
    });
}

    </script>
</body>
</html>